.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  row-gap: 1em;
  column-gap: 1em;
}

.card {
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em;
  width: 400px;
  max-width: 80%;
  border-radius: 10px;
  text-align: center;
}
.title {
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  border-radius: 10px;
}

.title,
.info {
  text-align: center;
  color: var(--white);
}

.info {
  font-size: 0.85em;
  font-weight: 200;
}

.image {
  height: 175px;
  margin: 0 auto;
  -moz-animation: heartpulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  50% {
    moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
